/build/
target
classes
checkouts
.nrepl-port
.hgignore
.hg/
*.swp
.DS_Store
*.iml
.idea/
\.terraform/
/infra/*credentials.sh
/infra/base/terraform.tfstate*
/infra/ecr.sh
/infra/ecr-url.txt
/infra/backend-support/terraform.tfstate
/infra/backend-support/terraform.tfstate.backup
/infra/ecr/terraform.tfstate*
/infra/id_rsa*
/interview_id.txt
/aws_session
/infra_problem.zip
/ops/
/infra-problem-*.zip
.env-regional
.awscli-creds.json
.console-creds.json
common-utils/
docker/

infra/interviewee/terraform.tfstate
infra/interviewee/terraform.tfstate.backup